
<% include ./partials/header %>

<section id="cover" class="align-middle d-flex align-items-center justify-content-center" style="height: 90vh; flex-direction: column; " >

     
  <div>
    <div class="container" id="landingMessage">
      <div class="row align-items-center pt-5">
        <h1>A platform for your thoughts</h1>
        
          
      </div>
      <div class="row">
        <div class="d-flex" id="snippet">
          <div class="p-2">Read</div>
          <div class="p-2">|</div>
          <div class="p-2">Write</div>
          <div class="p-2">|</div>
          <div class="p-2">Share</div>
          <div class="p-2">|</div>
          <div class="p-2">Grow</div>
      </div>
      </div>
    </div>

    <div class="container mt-5" id="getStarted">
      <a type="button" class="btn btn-primary">Get Started</a>
    </div>
    

    
    
  </div>
    <p id="bottomText" class="mt-auto" style="text-align: center; position: relative; "
      An <strong>OrangeInk </strong> product 
    </p>
</section>

<% include ./partials/footer %>
