:root{
    --red-hue: 356;
    --blue-hue: 212;
    --green-hue: 87;
    --color-bright: 23%;
    --main-hue : var(--red-hue);

    --theme-hue: 100%;
    --theme-hue-nav: 0%;
  }

.theme-button {
    padding-left: 5px;
    border-radius: 10px;
}

nav {
    background-color: hsl(0, 0%, var(--theme-hue-nav));
}

nav a{
    color: hsl(0, 85%, var(--theme-hue)) !important;
}

.listItem {
    margin: 0;
    padding: 0;
    border: 1px solid hsl(var(--main-hue), 50%, var(--color-bright));
    border-radius: 8px;
}

.listTitle {
    color: grey;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.listImg {
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

.thumbnail {
    padding: 0;
    height: 200px;
}

.btn-outline-primary.custom-btn {
    padding: 0;
	color: hsl(var(--main-hue), 50%, var(--color-bright));
	border-color: hsl(var(--main-hue), 50%, var(--color-bright));
}

.btn-outline-primary.custom-btn:hover, .btn-primary.custom-btn:focus, .btn-primary.custom-btn:active {
	color:black; 
    border-color: hsl(var(--main-hue), 50%, var(--color-bright));
    background-color: hsl(var(--main-hue), 50%, var(--color-bright));
}

body {
    background-color: hsl(0, 85%, var(--theme-hue));
}

#lcontainer {
    background-color: hsl(var(--main-hue), 100%, 83%);
    font-family: 'Montserrat', sans-serif;
}

#lcontainer h1 {
    color: hsl(var(--main-hue), 50%, var(--color-bright));
}

#scontainer{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.formHead {
    color: hsl(var(--main-hue), 50%, var(--color-bright));
}
